<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New CD</title>
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  </head>
  <body>
      <div class="container">
        {% if cds is not empty %}
        <h1> your cds: </h1>
          {% for cd in cds %}
            <ul>
              <li>Album:{{cd.getAlbum}}</li>
              <li>Artist:{{cd.getArtist}}</li>
            </ul>
          {% endfor %}
        {% else %}
        <h1>Add your CD's to the collection below</h1>
        {% endif %}
        <div class="row">

            <a href="/new_cd"><button class="btn col s12">Add CD</button></a>

          <form action="/delete_cds" method="get">
            <button type="submit" class="btn col s12">Delete</button>
          </form>
          <form action="/search_by_artist" method="get">
            <button type="submit" class="btn col s12">Search</button>
          </form>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
