<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New CD</title>
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form action="/create_cd" method="post">
          <label for='newCd'>Enter a New Album Name:</label>
          <input name='newCd' id='newCd' type='text'>
          <label for='newCd'>Enter a New Artist:</label>
          <input name='newArtist' id='newArtist' type='text'>
          <button type="submit" class="btn">Create</button>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
