<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New CD</title>
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  </head>
  <body>
      <div class="container">
        <h1>List deleted</h1>
        <a href="/">Go Home</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
