<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New CD</title>
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  </head>
  <body>
      <div class="container">
        <h3>You added a new cd to your collection!</h3>
        <h5>Album: {{ newcd.getAlbum }}</h5>
        <h5>By Artist: {{ newcd.getArtist }}</h5>
        <a href='/'>See your current list!</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
