<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New CD</title>
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  </head>
  <body>
      <div class="container">
        <h3>Results</h3>
        {% for artist in artist_list %}
          <h5>Artist: {{ artist.getArtist }}</h5>
          <h5>Ablum: {{ artist.getAlbum }}</h5>
        {% endfor %}
        <a href='/'>See your current list!</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
